* {
    box-sizing: border-box;
}
body {
    background: #e9b59f;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 0;
}

@keyframes width {
    0%   { transform: scale(1); }
    45%  { transform: scale(3); }
    55%  { transform: scale(3); }
    100% { transform: scale(1); }
}

@keyframes height {
    0%   { visibility: visible; }
    40%  { visibility: hidden; }
}

.shape{
    border-radius: 15px;
    width: 50px;
    height: 70px;
}



.animation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 11px;
    height: 100%;
}
.fast {
    align-items: flex-start;
}

.fast .shape {
    animation: width 5s linear infinite;
    transform-origin: top center;
}

.long {
    align-items: center;
}
.long .shape {
    animation: width 10s linear infinite;
    transform-origin: center;
}

.medium {
    align-items: flex-end;
}
.medium .shape {
    animation: width 7.5s linear infinite;
    transform-origin: bottom center;
}



.animation2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.animation2 .shape {
    border-radius: 15px;
    display: inline-block;
    width: 50px;
    height: 50px;
    visibility: hidden;
    flex: none;
    animation: height 10s infinite;
}