* {
   font-family: 'Geist', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #e9b59f;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20%;
}


.animation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

@keyframes width {
    0%{
        width: 10px;
        height: 10px;
    }
    10%{
        width: 50px;
        height: 50px;
    }
    15%{
        width: 50px;
        height: 50px;
    }
    25%{
        width: 100px;
        height: 100px;
    }
    30%{
        width: 100px;
        height: 100px;
    }
    40%{
        width: 150px;
        height: 150px;
    }
    60%{
        width: 150px;
        height: 150px;
    }
    70%{
        width: 100px;
        height: 100px;
    }
    75%{
        width: 100px;
        height: 100px;
    }
    85%{
        width: 50px;
        height: 50px;
    }
    90%{
        width: 50px;
        height: 50px;
    }
    100%{
        width: 10px;
        height: 10px;
    }
}


div .shape {
    border-radius: 15px;
    animation: width 10s ease infinite;
}

.red{
    background: #ff0000;
}

.yellow {
    background: yellow;
}
.green {
    background: green;
}
.blue {
    background: aqua;
}
.orange {
    background: orange;
}
.dark-blue{
    background: blue;
}
.violet {
    background: violet;
}